name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Verify
    uses: maveniverse/parent/.github/workflows/ci.yml@release-19
    with:
      maven-matrix: '[ "3.6.3", "3.8.8", "3.9.9" ]'
      jdk-matrix: '[ "8", "17", "21" ]'
      maven-test: './mvnw clean verify -e -B -V -P run-its -rf :it'
